.player-stats-splits-component {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.period-wrapper {
  display: flex;
  flex-direction: row;
}

.category-names-wrapper {
  display: flex;
  flex-direction: row;
}
