.player-page-component {
  display: flex;
  flex-direction: column;
}

.player-basic-info-wrapper {
  display: flex;
  flex-direction: column;
}

.player-name {
  font-size: 48px;
}

.player-status {
  display: flex;
  flex-direction: row;
  font-size: 24px;
}
